.topbar{
  margin-bottom: 50px;
  font-family: 'Lato', sans-serif;
}
.wrapper{
  height: 195px;
  padding: 45px 75px 0px 75px;
}

.user-block {
  width: 436px;
  height: 40px;
  float: right;
  a {
    float: right;
    text-decoration: underline;
    font-weight: bold;
  }
}
.user-info-div {
  width: 356px;
  float: left;

  .user-div-hello {
    width: 356px;
    font-size: 14px;
    line-height: 20px;
  }

  .span-hello {
    margin-right: 5px;
  }

  .span-email {
    width: 318px;
    height: 20px;
    font-weight: 900;
  }

  .span-dateline {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    opacity: 0.5;
    float: right;
  }
}
.red-circle{
  position: relative;
  width: 24.31px;
  height: 24.31px;
  border: 1px solid red;
  border-radius: 90px;
  background: red;
  display: flex;
  left: 25px;
  top: -50px;
  span {
    font-size: 12px;
    line-height: 20px;
    color: white;
    margin-left: 5px;
  }
}
.dropdown {
  width: 184px;
  margin-left: 24.69px;

  #dropdown-a {
    width: 184px;
  }

  .btn {
    width: 184px;
    height: 40px;
    background-color: white;
    color: black;

    span:first-child {
      font-weight: 900;
      font-size: 14px;
      line-height: 20px;
      float: left;
    }

    .arrow {
      width: 20px;
      height: 20px;
      float: right;
    }
  }
}
.icon-settings-div {
  height: 42.14px;
  display: flex;
  float: right;

  #icon-1,
  #icon-2 {
    position: relative;
  }

  #icon-1 {
    z-index: -10;
  }

  #icon-2 {
    z-index: 20;
  }
}


