<div class="navbar">
  <div class="bg-nav"></div>
  <div>
  <span class="your_ref">YOUR REFERRALS</span>
    <nav>

      <ul id="topmenu">
        <li class="nav-item">
          <a class="nav-link" href="#">In Triage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Completed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Drafts(1)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rejected</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Discharged</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Archived</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="search-div">
  <div class="search-field">
    <input type="text" id="search-input" value="TST0000422">
    <div class="hr-div"></div>
  </div>
    <button class="btn-submit">Submit Referral</button>
  </div>
</div>
