<div class="wrapper">
<app-navbar></app-navbar>

<div class="header">
  <button class="btn-back">
    <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.8125 1.82727C7.8125 1.03701 6.93905 0.559005 6.27345 0.984994L1.31605 4.15773C0.701454 4.55107 0.701454 5.44893 1.31605 5.84227L6.27345 9.01501C6.93905 9.441 7.8125 8.96299 7.8125 8.17273L7.8125 1.82727Z" fill="#034971"/>
  </svg>
    Back to Dashboard</button>
  <div class="span_name"><span>TST0000422</span></div>
</div>

<div class="main-content">
<div class="patient-info">
  <p>Patient GP Information</p>
  <div class="div-info-left">
    <ul>
      <li><span class="bold-phrase">URN:</span></li>
      <li><span class="bold-phrase">Patient:</span></li>
      <li><span class="bold-phrase">Patient's DOB:</span></li>
      <li><span class="bold-phrase">Referral Entered the System:</span></li>
      <li><span class="bold-phrase">Practice Address:</span></li>
      <li><span class="bold-phrase">Practice Telephone:</span></li>
      <li><span class="bold-phrase">Referrer:</span></li>
      <li><span class="bold-phrase">Referral Reason:</span></li>
      <li><span class="bold-phrase">Clinical Activity:</span></li>
      <li><span class="bold-phrase">Receiver:</span></li>
      <li><span class="bold-phrase">Radiographs:</span></li>
      <li><span class="bold-phrase">Primary care choice:</span></li>
      <li><span class="bold-phrase">Secondary care choice:</span></li>
      <li><span class="bold-phrase">Tertiary care choice:</span></li>
      <li><span class="bold-phrase">Triage Date:</span></li>
      <li><span class="bold-phrase">Comments to Referrer:</span></li>
      <li><span class="bold-phrase">Comments from Triager:</span></li>
    </ul>
  </div>

  <div class="div-info-right">
    <ul>
      <li><span class="normal-phrase">TST0000422</span></li>
      <li><span class="normal-phrase">dasdasd sadsadsad</span></li>
      <li><span class="normal-phrase">11/11/90</span></li>
      <li><span class="normal-phrase">16/10/20</span></li>
      <li><span class="normal-phrase">test_practice</span></li>
      <li><span class="normal-phrase"><br></span></li>
      <li><span class="normal-phrase">sdfsdfsd sfsdffa </span></li>
      <li><span class="normal-phrase">Urgent 2WW Referral</span></li>
      <li><span class="normal-phrase"><br></span></li>
      <li><span class="normal-phrase"><br></span></li>
      <li><span class="red-phrase">No</span></li>
      <li><span class="normal-phrase">Urgent 2WW Referral</span></li>
      <li><span class="normal-phrase">Urgent 2WW Referral</span></li>
      <li><span class="normal-phrase">Urgent 2WW Referral</span></li>
      <li><span class="normal-phrase">Urgent 2WW Referral</span></li>
      <li><span class="normal-phrase">Urgent 2WW Referral</span></li>
      <li><span class="normal-phrase">Urgent 2WW Referral</span></li>
    </ul>
  </div>

  <div class="vrt-line"></div>

</div>


</div>


</div>
